body {
    background-color: rgb(243, 0, 0);
  }
  
  h1 {
    color: rgb(227, 228, 154);
    margin-left: 20px;
    font-size: 90px;
  }

  #para1 {
    text-align: center;
    color: rgb(51, 255, 0);
  }

  .center {
    text-align: center;
    color: rgb(238, 195, 195);
  }